<ion-header>
    <ion-toolbar class="mema-navy">
        <ion-row class="align-items-center">
            <ion-col size="auto">
                <ion-nav-link style="color: white;" [routerLink]="['/tabs/tab2/']">
                    <ion-icon name="chevron-back-outline" size="large"></ion-icon>
                </ion-nav-link>
            </ion-col>
            <ion-col size="auto">
                <ion-title>Supplies Checklist</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let emergencyItems of emergencyItem" (click)="onClick(emergencyItems)">
        <ion-label>{{emergencyItems.name}}</ion-label>
        <ion-checkbox type="checkbox" [(ngModel)]="emergencyItems.checked" [checked]="emergencyItems.name"></ion-checkbox>
    </ion-item>

    <ion-input type="text"></ion-input>
    <ion-button style="align-content: center">ADD</ion-button> 
</ion-content>