<ion-header>
    <ion-toolbar>
        <div class="col-sm-4">
            <a href="/tabs/tab2">Back</a>
        </div>
        <div class="col-sm-8">
            <ion-title>Your Plan</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>CHECKLIST</ion-card-header>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label> FLASHLIGHT</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>FIRST AID KIT</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>MEDICINES AND MEDICAL RECORDS</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>WATER</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>FOOD</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>RADIO</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>EXTRA BATTERIES</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>CAN OPENER</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>WHISTLE</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>WRENCH OR PLIES</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>LOCAL MAP</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>MOBILE DEVICE EMERGENCY CHARGER</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>TOWELS, GARBAGE BAGS, AND PLASTIC TIES</ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox checked="false" name="Flashlight"></ion-checkbox>
        <ion-label>FACE MASK</ion-label>
    </ion-item>
</ion-content>