<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-nav-link [routerLink]="['/tabs/tab2/']">BACK</ion-nav-link>
            </ion-col>
        </ion-row>
        <ion-title>YOUR PLAN</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>OTHER IMPORTANT NUMBERS</ion-card-header>
    <ion-card-content>
        <ion-header>EMERGENCY SERVICES</ion-header>
        <ion-label>Police Phone#</ion-label>
        <ion-input type="number"></ion-input>
        <ion-label>Fire Phone#</ion-label>
        <ion-input type="number"></ion-input>
    </ion-card-content>
    <ion-card-content>
        <ion-header>DOCTOR</ion-header>
        <ion-label>Name</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Phone#</ion-label>
        <ion-input type="number"></ion-input>
    </ion-card-content>
    <ion-card-content>
        <ion-header>PEDIATRICIAN</ion-header>
        <ion-label>Name</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Phone#</ion-label>
        <ion-input type="number"></ion-input>
    </ion-card-content>
    <ion-card-content>
        <ion-header>VETERINARIAN</ion-header>
        <ion-label>Name</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Phone#</ion-label>
        <ion-input type="number"></ion-input>
    </ion-card-content>
    <ion-card-content>
        <ion-header>UTILITIES</ion-header>
        <ion-label>Name</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Phone#</ion-label>
        <ion-input type="number"></ion-input>
        <ion-label>Name</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Phone#</ion-label>
        <ion-input type="number"></ion-input>
        <ion-label>Name</ion-label>
        <ion-input type="text"></ion-input>
        <ion-label>Phone#</ion-label>
        <ion-input type="number"></ion-input>
    </ion-card-content>
</ion-content>