<ion-header>
  <ion-toolbar>
      <ion-row>
          <ion-col>
              <ion-nav-link [routerLink]="['/tabs/tab2/']">BACK</ion-nav-link>
          </ion-col>
      </ion-row>
      <ion-title>Item add page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
      <ion-label position="floating">Item name:</ion-label>
      <ion-input [(ngModel)]="checklistitem" name="checklistitem" type="text"></ion-input>
  </ion-item>
      <ion-button (click)="addItem()">Add</ion-button>
</ion-content>