  
<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-nav-link [routerLink]="['/tabs/tab2/']">BACK</ion-nav-link>
            </ion-col>
        </ion-row>
        <ion-title>YOUR PLAN</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label position="floating">Firstname:</ion-label>
        <ion-input [(ngModel)]="firstname" name="firstname" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Lastname:</ion-label>
        <ion-input [(ngModel)]="lastname" name="lastname" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Age:</ion-label>
        <ion-input [(ngModel)]="age" name="age" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <label></label>
        <button (click)="addPerson()">Add</button>
    </ion-item>

    <!-- <h4> Get person </h4>
    <input [(ngModel)]="queryKey" name="queryKey" type="text"><br>
    <button (click)="getPerson(queryKey)"> Get </button>
    <h4>Result</h4>
    {{queryResult}}
    <h4> Delete person</h4>
    <ion-input [(ngModel)]="removeKey" name="removeKey" type="text"></ion-input> <br>
    <button (click)="deletePerson(removeKey)"> Delete </button> -->

    <ion-label> Delete person</ion-label>
    <ion-input [(ngModel)]="removeKey" name="removeKey" type="text"></ion-input>
    <br />
    <button (click)="deletePerson(removeKey)">Delete</button>

    <h4>Reset store</h4>
    <button (click)="reset()">Reset</button>

    <script type="text/javascript">
        console.log(localStorage);
    </script>

    <!-- </ion-content> -->
</ion-content>











































<!-- <ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-nav-link [routerLink]="['/tabs/tab2/contacts']">BACK</ion-nav-link>
            </ion-col>
        </ion-row>
        <ion-title>YOUR PLAN</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Relationship(Spouse, Parent, etc)</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">State</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Zip Code</ion-label>
        <ion-input type="Number"></ion-input>
    </ion-item>
    <div>
        <ion-button>Save</ion-button>
    </div>
</ion-content> -->