  
<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-nav-link [routerLink]="['/tabs/tab2/']">BACK</ion-nav-link>
            </ion-col>
        </ion-row>
        <ion-title>YOUR PLAN</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label position="floating">Firstname:</ion-label>
        <ion-input [(ngModel)]="firstname" name="firstname" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Lastname:</ion-label>
        <ion-input [(ngModel)]="lastname" name="lastname" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Phone:</ion-label>
        <ion-input [(ngModel)]="phone" name="phone" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input [(ngModel)]="address" name="address" type="text"></ion-input>
    </ion-item>
        <ion-button (click)="addPerson()">Add</ion-button>
</ion-content>











































<!-- <ion-header>
<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Relationship(Spouse, Parent, etc)</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">State</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Zip Code</ion-label>
        <ion-input type="Number"></ion-input>
    </ion-item>
    <div>
        <ion-button>Save</ion-button>
    </div>
</ion-content> -->