<ion-header [translucent]="false">
    <ion-toolbar class="mema-navy">
        <ion-row class="align-items-center">
            <ion-col size="2">
                <ion-nav-link style="color: white;" [routerLink]="['/tabs/']">
                    <ion-icon name="chevron-back-outline" size="large"></ion-icon>
                </ion-nav-link>
            </ion-col>
            <ion-col size="8" style="padding:0;">
                <ion-title style="font-size: 40px; font-weight: bolder; color: #fff;padding:0;text-align: center;">
                    <img src="assets/mema-seal.png" height="35"> MEMA
                </ion-title>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <iframe height='100%' width="100%" title="website" src="https://www.mdottraffic.com/default.aspx?showMain=true"></iframe>
</ion-content>

