<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title> MSEMA </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card-header> <img src="assets/tab3/tool.png" height="30"> TOOLS</ion-card-header>
    <ion-item>
        <img src="assets/tab3/light.png" height="50">
        <ion-nav-link> FLASHLIGHT</ion-nav-link>
    </ion-item>
    <ion-item>
        <img src="assets/tab3/whistle.png" height="50">
        <ion-nav-link>WHISTLE</ion-nav-link>
    </ion-item>
    <ion-item>
        <img src="assets/tab3/gps.png" height="50">
        <ion-nav-link>GPS LOCATION</ion-nav-link>
    </ion-item>
    <ion-item>
        <img src="assets/tab3/earth.png" height="50">
        <ion-nav-link>DAMAGE ASSESSMENT</ion-nav-link>
    </ion-item>
    <ion-item>
        <img src="assets/tab3/date.png" height="50">
        <ion-nav-link>CLOSING & DELAYS</ion-nav-link>
    </ion-item>

</ion-content>