<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-nav-link [routerLink]="['/tabs/tab2/']">BACK</ion-nav-link>
            </ion-col>
        </ion-row>
        <ion-title>YOUR PLAN</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-card-header  style="text-align: center; background-color:#061e3d; margin-top: 0.25em; color: #ffffff;">INSURANCE INFO</ion-card-header>
    <div *ngIf="insurances">
      <ion-card *ngFor="let insurance of insurances;" style="padding: 0.25em">
        <ion-card-header>
          <ion-card-title
            >{{insurance.Name}}</ion-card-title
          >
          <ion-card-title>{{contact | json}}</ion-card-title>
        </ion-card-header>
  
        <ion-card-content style="font-size: 1.125rem">
          Policy #: {{insurance.policy}} <br />
          Company: {{insurance.company}} <br />
          Agent: {{insurance.agent}} <br />
          Phone: {{insurance.phoneNum}} <br />
        </ion-card-content>
        <ion-button >Edit</ion-button>
        <ion-button>Delete</ion-button>
      </ion-card>
    </div> -->
    <ion-grid> 
      <ion-row>
        <ion-col>
          <ion-list>
            <div *ngFor="let file of images">
              <ion-item [hidden]="file.viewerOpen">
                <ion-thumbnail slot="start">
                  <ion-img [src]="file.data" ></ion-img>
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                  {{file.name}}
                </ion-label>
  
                <ion-button slot="end" fill="clear" (click)="imageZoom(file)">
                  <ion-icon slot="icon-only" name="cloud"></ion-icon>
                </ion-button>
                <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-item>
              <div class="image-container" [hidden]="!file.viewerOpen">
                <ion-button (click)="file.viewerOpen = false">Close image</ion-button>
                <ion-img  [src]="file.data" ></ion-img>
              </div>
            </div>
          </ion-list>
        </ion-col>
        <ion-button (click)="selectPhoto()">Upload Photo</ion-button>
        <!-- <ion-col>
          <ion-card-header>
            <ion-card-title>
              Insurance Card
            </ion-card-title>
          </ion-card-header>
          <ion-button>Upload Photo</ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
    <!-- <ion-button [routerLink]="['/tabs/tab2/insurance/info']">ADD NEW INSURANCE INFO</ion-button> -->
</ion-content>