<ion-header>
    <ion-toolbar class="mema-navy">
      <ion-row class="align-items-center">
        <ion-col size="2">
          <ion-nav-link style="color: white;" [routerLink]="['/tabs/tab2/']">
              <ion-icon name="chevron-back-outline" size="large"></ion-icon>
          </ion-nav-link>
        </ion-col>
        <ion-col size="8" style="text-align:center;">
          <ion-title style="color:white;">Important Documents</ion-title>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid> 
      <ion-row>
        <ion-col>
          <ion-list>
            <div *ngFor="let file of images">
              <ion-item [hidden]="file.viewerOpen">
                <ion-thumbnail slot="start">
                  <ion-img [src]="file.data" ></ion-img>
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                  {{file.name}}
                </ion-label>
  
                <ion-button slot="end" fill="clear" (click)="imageZoom(file)">
                  <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                </ion-button>
                <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
                  <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
                </ion-button>
              </ion-item>
              <div class="image-container" [hidden]="!file.viewerOpen">
                <ion-button (click)="file.viewerOpen = false" fill="clear">
                  <ion-icon slot="icon-only" name="close-outline" color="dark"></ion-icon>
                </ion-button>
                <div class="swiper-zoom-container">
                  <ion-img  [src]="file.data" ></ion-img>
                </div>
              </div>
            </div>
          </ion-list>
        </ion-col>
        <!-- <ion-button (click)="selectPhoto()">Upload Photo</ion-button> -->
        <!-- <ion-col>
          <ion-card-header>
            <ion-card-title>
              Insurance Card
            </ion-card-title>
          </ion-card-header>
          <ion-button>Upload Photo</ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
    <ion-fab-button id="add-doc-btn" (click)="selectPhoto()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-content>