<ion-header [translucent]="false">
    <ion-toolbar class="mema-navy">
        <ion-row class="align-items-center">
            <ion-col size="auto">
                <ion-nav-link style="color: white;" [routerLink]="['/tabs/']">
                    <ion-icon name="chevron-back-outline" size="large"></ion-icon>
                </ion-nav-link>
            </ion-col>
            <ion-col size="auto">
                <ion-title style="font-size: 40px; font-weight: bolder; color: #fff;">
                    <img src="assets/mema-seal.png" height="35"> MEMA
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class = "content-with-full-height">
    <ion-card-header class="headerText">
        <h1>My Disaster Plan</h1>
    </ion-card-header>


    <ion-grid>
        <div class="iconGrid"></div>
        <ion-row class="buttonText ion-align-items-center">
            <ion-col class="ion-text-center">
                
                <button [routerLink]="['/tabs/tab2/supplies']" class="btn iconButton" >
                    <img class="imgDocs" src="../../assets/checklist.png" alt="">
                </button>
                <p>Supplies Checklist</p>
            </ion-col>
            
            <ion-col class="ion-text-center">
                <button [routerLink]="['/tabs/tab2/contacts']" class="btn iconButton">
                    <img  class="imgDocs " src="../../assets/Contacts.png" alt=""> 
                </button>
                <p>Emergency Contacts</p>
            </ion-col>
        </ion-row>
        
        <ion-row class="buttonText ion-align-items-center">
            <ion-col class="ion-text-center">
                <button [routerLink]="['/tabs/tab2/misc']" class="btn iconButton">       
                    <img  class="imgDocs " src="../../assets/handicap.png" alt="">
                </button>
                <p>Disability Planning</p>
            </ion-col>
            
            <ion-col class="ion-text-center">
                <button [routerLink]="['/tabs/tab2/insurance']" class="btn iconButton ">
                    <img class="imgDocs " src="../../assets/importantDocs.png" alt=""> 
                </button>
                
                <p>Important Documents</p>
            </ion-col>
        </ion-row>

        <ion-row class="buttonText ion-align-items-center">
            <ion-col class="ion-text-center">
                <button [routerLink]="['/tabs/tab2/places']" class="btn iconButton"> 
                   <img class="imgDocs " src="../../assets/meeting.png" alt="">
                </button>
                <p>Meeting Places</p>
            </ion-col>
            <ion-col class="ion-text-center">
                <button [routerLink]="['/tabs/tab2/pets']" class="btn iconButton">
                    <img src="../../assets/Pet.png" alt="">
                </button>
                <p>Pet Checklist</p>
            </ion-col>
        </ion-row>

    </ion-grid>






</ion-content>