<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title> MSEMA </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding>
    <ion-item>
        <ion-button [routerLink]="['/tabs/tab2/supplies']">SUPPLIES CHECKLIST</ion-button>
    </ion-item>
    <ion-item>
        <ion-button [routerLink]="['/tabs/tab2/contacts']">EMERGENCY CONTACTS</ion-button>
    </ion-item>
    <ion-item>
        <ion-button [routerLink]="['/tabs/tab2/places']">EMERGENCY MEETING PLACES</ion-button>
    </ion-item>
    <ion-item>
        <ion-button [routerLink]="['/tabs/tab2/insurance']">INSURANCE INFORMATION</ion-button>
    </ion-item>
    <ion-item>
        <ion-button [routerLink]="['/tabs/tab2/pets']">PET CHECKLIST</ion-button>
    </ion-item>
    <ion-item>
        <ion-button [routerLink]="['/tabs/tab2/misc']">OTHER IMPORTANT NUMBERS</ion-button>
    </ion-item>
    <ion-item>
        <ion-button [routerLink]="['/tabs/tab2/share']">SHARE PLAN</ion-button>
    </ion-item>
</ion-content>