.headerText {
    text-align: center;
    background: #061e3d  ;
    position: relative;
    opacity: 1;
    z-index: 2;
    padding: 0%;
    margin: 0%;

}

.ionGridHeader {
    padding-top: 15%;
}


.memaBuildingImg {
    position: absolute;
    background: url(../../assets/memaBuildingHomeTab.jpg) 90% 90% padding-box no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: .25;
    z-index: 0;
    padding-top: 10%;
}

.headerText ion-icon {
    color: #fff;
    margin-right: 3%;
    float: left;
}

.headerText img{
    width: 25% !important;
    height: auto !important;
    float: left;
    margin-left: 17%;
}

.headerText h1{
text-align: center;
font-weight: bolder;
color: white;
font-size: 13px;
}


.ionGridMain {
    position: relative;
    opacity: 1;
    z-index: 2;
}

.iconGrid {
    position: absolute;
    background: url(../../assets/mema-seal.png) 50% 50% no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    opacity: .25;
    z-index: 0;
}


.content-with-full-height{
    // height: 100%;
    //margin-bottom: 10px;
    --background:white ;

  }



.equal-sized-item{
height: 10%
}





.buttonText p {
margin: 18% 2%;
font-size: 18px;
font-weight: bolder;
color: #061e3d;
}

// .imgDocs {
// height: auto;
// width: auto;
// }
.iconButtonWeather {
    padding: 20% 18%;
    border-style: none;
    border-radius: 100%;
    background: #061e3d ;
    background-position: 50% center;
    background-repeat: no-repeat;  
}
.iconButton {
padding: 20% 28%;
border-style: none;
border-radius: 100%;
background: #061e3d ;
background-position: 50% center;
background-repeat: no-repeat;

}
