ion-card-header {
  background-color: #061e3d;
}
ion-card-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../../assets/memaBuildingHomeTab.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  opacity: 0.25;
}

ion-card-header #mema-title-row {
  color: white;
}
ion-card-header #mema-title-row ion-col {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

ion-card-header #social-media-row ion-col {
  flex-grow: 0;
}
ion-card-header #social-media-row ion-icon {
  color: #fff;
  margin-right: 3%;
  float: left;
}

ion-card-header #logo-row {
  justify-content: center;
}
ion-card-header #logo-row img {
  width: 18% !important;
  height: auto !important;
  z-index: 1;
}



.ionGridMain {
  position: relative;
  opacity: 1;
  z-index: 2;
}

.iconGrid {
  position: absolute;
  background: url(../../assets/mema-seal.png) 50% 50% no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  opacity: .25;
  z-index: 0;
}


.content-with-full-height{
  // height: 100%;
  //margin-bottom: 10px;
  --background:white ;
}




.buttonText p {
  margin: 1% 2%;
  // font-size: 18px;
  font-weight: bolder;
  color: #061e3d;
}

