#content-grid {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ion-card-header {
  width: 100%;
}

#map-row {
  padding: 0;
  flex-grow: 1;
}
// Necessary for Leaflet map to display
.leaflet-container {
  height: 100%;
}

#edit-row {
  border-top: 1px solid rgb(80, 80, 80);
  overflow: auto;
}

#instructions {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #555;
  background-color: white;
  z-index: 1000000;
}
#instructions #close-inst-btn {
  height: auto;
  margin: 0;
}
#instructions #text-inst-row {
  padding-left: 2%;
  padding-right: 2%;
}
#instructions #touch-icon-col {
  text-align: center;
}
#instructions #use-location-btn-row {
  align-items: center;
  justify-content: center;
}
