<ion-header [translucent]="true">
  <ion-toolbar class="mema-navy">
    <ion-row class="align-items-center">
      <ion-col size="auto">
        <ion-nav-link style="color: white;" [routerLink]="['/tabs/']">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
        </ion-nav-link>
      </ion-col>
      <ion-col size="auto">
        <ion-title style="font-size: 40px; font-weight: bolder; color: #fff;">
            <img src="assets/mema-seal.png" height="35"> MEMA
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header> <img src="assets/tab3/map.png" height="30">Weather Alerts</ion-card-header>
  <ion-grid style="height: 85%; padding: 0;">
    <ion-row [ngStyle]="{'height': (workingDetectionArea) ? '65%' : '90%'}">
      <ion-col>
        <div 
          id="map"
          leaflet
          [leafletOptions]="mapOptions"
          (leafletMapReady)="onMapReady($event)"
        ></div>
      </ion-col>
    </ion-row>
    <ion-row [ngStyle]="{'height': (workingDetectionArea) ? '35%' : '10%'}">
      <ion-col>
        <span [hidden]="workingDetectionArea">Tap on a location within Mississippi to create a weather alert detection area...</span>
        <ion-row [hidden]="!workingDetectionArea">
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-range
                  #detectionRange
                  min="1"
                  [max]="maxDetectionRange"
                  step="1000"
                  snaps="true"
                  (ionChange)="detectionRangeChange($event)"
                  style="padding: 0;"
                >
                </ion-range>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" fill="solid" color="light" (click)="cancelDetectionArea()">Cancel</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" fill="solid" (click)="saveDetectionArea()">Save</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" fill="solid" color="danger" (click)="deleteDetectionArea()">Delete</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>