<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title> MAPS </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card-header> <img src="assets/tab3/map.png" height="30"> MAPS</ion-card-header>
    <ion-item>
        <img src="assets/tab3/zone.png" height="50">
        <ion-nav-link> KNOW YOUR ZONE</ion-nav-link>
    </ion-item>
    <ion-item>
        <img src="assets/tab3/earth.png" height="50">
        <ion-nav-link>EARTHQUAKE MAP</ion-nav-link>
    </ion-item>
    <ion-item>
        <img src="assets/tab3/car.png" height="50">
        <ion-nav-link>TRAFFIC</ion-nav-link>
    </ion-item>
    <ion-item>
        <img src="assets/tab3/home.png" height="50">
        <ion-nav-link>SHELTERS</ion-nav-link>
    </ion-item>

</ion-content>