<ion-header [translucent]="false">
    <ion-toolbar id="toolbarColor">
        <ion-title style="font-size: 40px; font-weight: bolder; color: #fff;">  <img src="assets/mema-seal.png" height="35"> MEMA</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card-header> <img src="assets/tab3/map.png" height="30"> WEATHER ALERTS</ion-card-header>
    <!-- <div id="mapId3" style="width: 100%; height: 70%"></div> -->
    <div 
    id="map"
  leaflet
  style="width: 100%; height: 70%"
  
  [leafletOptions]="mapOptions"
  (leafletMapReady)="onMapReady($event)"
></div>
<!-- <div class="App">
</div> -->

<!-- <input #ranger (input)="geoRadius(ranger.value)" type="range" min=0 max=400000 value=200
 /> -->

 <ion-item>
     <ion-label>Select your County</ion-label>
     <ion-select placeholder="Select County" [(ngModel)]="countySelection" (ionChange)="geoRadius()">
        <ion-select-option value="Adams">Adams</ion-select-option>
        <ion-select-option value="Alcorn">Alcorn</ion-select-option>
        <ion-select-option value="AMITE">Amite</ion-select-option>
        <ion-select-option value="Benton">Benton</ion-select-option>
        <ion-select-option value="BOLIVAR">Bolivar</ion-select-option>
        <ion-select-option value="CALHOUN">Calhoun</ion-select-option>
        <ion-select-option value="CARROLL">Carroll</ion-select-option>
        <ion-select-option value="CHICKASAW">Chickasaw</ion-select-option>
        <ion-select-option value="CHOCTAW">Choctaw</ion-select-option>
        <ion-select-option value="CLAIBORNE">Claiborne</ion-select-option>
     </ion-select>
 </ion-item>


</ion-content>