.App {
  height: 480px;
  padding: 10rem;
}

ion-card-header {
  padding: 0;
}

ion-card-header #alert-settings-link {
  // color: white;
}

.leaflet-container {
  height: 100%;
}

#inst-edit-row {
  border-top: 1px solid rgb(80, 80, 80);
}