<ion-header [translucent]="false">
  <ion-toolbar class="mema-navy">
    <ion-row class="align-items-center">
      <ion-col size="auto">
        <ion-nav-link style="color: white;" [routerLink]="['/disaster']">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
        </ion-nav-link>
      </ion-col>
      <ion-col size="auto">
        <ion-title style="font-size: 40px; font-weight: bolder; color: #fff;">
            <img src="assets/mema-seal.png" height="35"> MEMA
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card-header class="disasterHeader" style="text-align: center;">HURRICANE SAFETY </ion-card-header>
      <div class="line"></div>
    </ion-col>
  </ion-row>

  <embed src="../../../assets/disasterPage/Hurricane Info 1.jpg" width="100%" height="100%">
  <embed src="../../../assets/disasterPage/Hurricane Info 2.jpg" width="100%" height="100%">
  <embed src="../../../assets/disasterPage/Hurricane Info 3.jpg" width="100%" height="100%">
  <embed src="../../../assets/disasterPage/Hurricane Info 4.jpg" width="100%" height="100%">


  <!-- <ion-row>
    <ion-col>
      <ion-item >
        <ion-text>Before the Storm:<br />
          <ion-text>
            <ul>
              <li>Pack a disaster supply kit </li>
              <ul>
                <li>Include at least three days worth of nonperishable food and water</li>
                <li>a full list of items can be found here</li>
              </ul>
              <li>Establish a primary evacuation route and know where you will seek shelter</li>
              <ul>
                <li>Don’t forget to include pets in your plan</li>
              </ul>
              <li>Create a contact list that includes at least one contact outside the potential impact area</li>
              <li>Trim trees, cover windows and secure loose outdoor items ahead of the storm to protect your home</li>
              <li>Sign up to receive weather warnings and emergency alerts</li>
            </ul>
          </ion-text>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <ion-item>
        <ion-text>During the Storm: <br />
          <ion-text>
            <li>Stay up to date with the latest weather forecast and emergency information</li>
            <li>Shelter in place and avoid travel</li>
          </ion-text>
  
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item >
        <ion-text>After the Storm: <br />
          <ion-text>
            <li>If you evacuated, make sure it is safe to return home</li>
            <li>Take photos of the damage to your home and valuable items</li>
            <li>File an insurance claim</li>
            <li>Report damage through MEMA's self-report tool</li>
            <li>Avoid travel unless absolutely necessary</li>
            <li>If using a generator, keep it outside</li>
            <li>stay away from fallen power lines</li>
          </ion-text>
  
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row> -->

</ion-content>
