<ion-header>
    <ion-toolbar class="mema-navy">
    <ion-row class="align-items-center">
      <ion-col size="2">
        <ion-nav-link style="color: white;" [routerLink]="['/tabs/tab2/']">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
        </ion-nav-link>
      </ion-col>
      <ion-col size="8" style="text-align:center;">
        <ion-title style="color:white;padding:0;">Pet Checklist</ion-title>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header id="instructions">
    If you have a plan in place for you and your pets, you will likely encounter less difficulty, stress and worry when you need to make a decision during an emergency. If local officials ask you to evacuate, that means your pet should evacuate too. If you leave your pets behind, they may end up lost, injured or worse. Here are some items you may want to include in an emergency kit for your pet:
  </ion-card-header>
  <ion-list id="supplies-list">
    <ion-item-sliding *ngFor="let supply of supplies">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteSupply(supply)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>{{supply.name}}</ion-label>
        <ion-checkbox [(ngModel)]="supply.checked" (ionChange)="suppliesChange()"></ion-checkbox>
      </ion-item>
    </ion-item-sliding>
    <ion-item></ion-item>
  </ion-list>

  <!-- <ion-fab-button id="add-supply-btn" [hidden]="adding" (click)="adding = true">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <div id="add-supply-ctn" [hidden]="!adding">
    <ion-grid id="edit-newsupply-grid">
      <ion-row>
        <ion-col><ion-button (click)="adding = false; newSupply = null" color="danger">Cancel</ion-button></ion-col>
        <ion-col id="new-supply-col"><ion-input [(ngModel)]="newSupply" size="15" placeholder="New item..."></ion-input></ion-col>
        <ion-col><ion-button [disabled]="!newSupply" (click)="saveNewSupply()">Save</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
</ion-content>

<ion-fab [hidden]="adding" slot="fixed" vertical="bottom" horizontal="center">
  <ion-fab-button (click)="adding=true">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab slot="fixed" vertical="bottom" id="add-supply-ctn" [hidden]="!adding">
  <ion-grid id="edit-newsupply-grid">
    <ion-row>
      <ion-col><ion-button (click)="adding = false; newSupply = null" color="danger">Cancel</ion-button></ion-col>
      <ion-col id="new-supply-col"><ion-input [(ngModel)]="newSupply" size="15" placeholder="New item..."></ion-input></ion-col>
      <ion-col><ion-button [disabled]="!newSupply" (click)="saveNewSupply()">Save</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-fab>
