#supplies-list {
  overflow: auto;
  height: auto;
}
#add-supply-ctn {
  position: fixed;
  bottom: 0px;
  right: 1%;
  height: auto;
  width: 100%;
  backdrop-filter: blur(2px);
}

#add-supply-btn {
  position: fixed;
  bottom: 1%;
  margin: 0 50%;
  transform: translate(-50%, 0%);
}