<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col>
                <ion-nav-link [routerLink]="['/tabs/tab2/']">BACK</ion-nav-link>
            </ion-col>
        </ion-row>
        <ion-title>YOUR PLAN</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content>
        <ion-text>Email, Text, Print, or Save your plan as a PDF file.</ion-text>
    </ion-card-content>
    <ion-card-content>
        <ion-button>Share</ion-button>
    </ion-card-content>
</ion-content>