<ion-header>
  <ion-toolbar class="mema-navy">
    <ion-row class="align-items-center">
      <ion-col size="2">
        <ion-nav-link style="color: white;" [routerLink]="['/tabs/tab2/']">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
        </ion-nav-link>
      </ion-col>
      <ion-col size="8" style="text-align:center;">
        <ion-title style="color:white;">Emergency Contacts</ion-title>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts" class="contact-item">
      <ion-card class="contact-card">
        <ion-card-header>
          <ion-card-title>{{contact.firstName}} {{contact.lastName}}</ion-card-title>
        </ion-card-header>

        <ion-card-content style="font-size: 1.125rem">
          Phone: {{contact.phone}} <br />
          Address: {{contact.address}}
        </ion-card-content>
      </ion-card>
      <ion-button class="delete-contact-btn" (click)="deleteContact($event)" [attr.data-id]="contact.id" fill="clear">
        <ion-icon name="trash-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
<ion-fab [hidden]="adding" slot="fixed" vertical="bottom" horizontal="center">
  <ion-fab-button [routerLink]="['/tabs/tab2/contacts/info']">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
