.contact-item {
  display: flex;
  flex-direction: row;
}
.contact-item .contact-card {
  flex-grow: 1;
}
.contact-item .delete-contact-btn {
  flex-grow: 0;
}

#instructions {
  border-bottom: 1px solid #061e3d;
}