<ion-header>
    <ion-toolbar class="mema-navy">
        <ion-row class="align-items-center">
            <ion-col size="auto">
                <ion-nav-link style="color: white;" [routerLink]="['/tabs/tab2/']">
                    <ion-icon name="chevron-back-outline" size="large"></ion-icon>
                </ion-nav-link>
            </ion-col>
            <ion-col size="auto">
                <ion-title style="font-size: 40px; font-weight: bolder; color: #fff;">
                    <img src="assets/mema-seal.png" height="35"> MEMA
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Name/Type</ion-label>
        <ion-input [(ngModel)]="name" name="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Policy Number</ion-label>
        <ion-input [(ngModel)]="policy" name="policy" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Company</ion-label>
        <ion-input [(ngModel)]="company" name="company" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input [(ngModel)]="phoneNum" name="phoneNum" type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Agent</ion-label>
        <ion-input [(ngModel)]="agent" name="agent" type="text"></ion-input>
    </ion-item>
    <ion-button  (click)="addInsurance()">Save</ion-button>
</ion-content>