<ion-header>
    <ion-toolbar class="mema-navy">
        <ion-row class="align-items-center">
            <ion-col size="auto">
                <ion-nav-link style="color: white;" [routerLink]="['/tabs/tab2/']">
                    <ion-icon name="chevron-back-outline" size="large"></ion-icon>
                </ion-nav-link>
            </ion-col>
            <ion-col size="auto">
                <ion-title>Emergency Meeting Places</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let emergencyPlaces of emergencyPlace">
        <ion-text>{{emergencyPlaces.title}} <br />
            <ion-text>{{emergencyPlaces.name}} </ion-text>
            <ion-card-content>
                <ion-label>Instructions:</ion-label>
                <ion-input type="text" [(ngModel)]="emergencyPlaces.input" [inputmode]="emergencyPlaces.name"></ion-input>
            </ion-card-content>
        </ion-text>
    </ion-item>
    <ion-button (click)="onClick(emergencyPlace)">SAVE</ion-button>
</ion-content>