<ion-header>
    <ion-toolbar class="mema-navy">
        <ion-row class="align-items-center">
            <ion-col size="2">
                <ion-nav-link style="color: white;" [routerLink]="['/tabs/tab2/places/']">
                    <ion-icon name="chevron-back-outline" size="large"></ion-icon>
                </ion-nav-link>
            </ion-col>
            <ion-col size="8" style="text-align:center;">
              <ion-title style="color:white;">Edit Emergency Place</ion-title>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating">Name:</ion-label>
        <ion-input [(ngModel)]="name" name="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Phone:</ion-label>
        <ion-input [(ngModel)]="phone" name="phone" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Address:</ion-label>
        <ion-input [(ngModel)]="address" name="address" type="text"></ion-input>
    </ion-item>

    <ion-button id="save-new-place-btn" (click)="addPlace()">Save</ion-button>
</ion-content>











































<!-- <ion-header>
<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Relationship(Spouse, Parent, etc)</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">State</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Zip Code</ion-label>
        <ion-input type="Number"></ion-input>
    </ion-item>
    <div>
        <ion-button>Save</ion-button>
    </div>
</ion-content> -->
