.content-with-full-height{
    // height: 100%;
    //margin-bottom: 10px;
    --background:white ;

  }

.disasterHeader {
    font-size: 30px;
    font-weight: bold;
    color: #061e3d;
}

.line {
    border-top:solid #061e3d 10px;
    width: 120%;
    margin-left: -10%;
  }
  
li {
    margin: 20px 0;
}