<ion-header>
  <ion-toolbar class="mema-navy">
    <ion-row class="align-items-center">
      <ion-col size="2">
        <ion-nav-link style="color: white;" [routerLink]="['/tabs/tab3/']">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
        </ion-nav-link>
      </ion-col>
      <ion-col size="8" style="text-align:center;">
        <ion-title style="color:white;padding:0;">Weather Alert Settings</ion-title>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header><b>Map</b></ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row><ion-label>Radar Opacity</ion-label></ion-row>
        <ion-row>
          <ion-range
            min="0"
            max="1"
            step="0.05"
            [(ngModel)]="settings.radarOpacity"
            (ionChange)="settingsChange()"
          >
          </ion-range>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-list-header><b>Turn On/Off Event Types</b></ion-list-header>
    <!-- <ion-item><ion-label>Air Stagnation Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Air_Stagnation_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Ashfall Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Ashfall_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Ashfall Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Ashfall_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Beach Hazards Statement</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Beach_Hazards_Statement" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Blizzard Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Blizzard_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Blowing Dust Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Blowing_Dust_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Brisk Wind Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Brisk_Wind_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Coastal Flood Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Coastal_Flood_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Coastal Flood Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Coastal_Flood_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Coastal Flood Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Coastal_Flood_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Dense Fog Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Dense_Fog_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Dense Smoke Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Dense_Smoke_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Dust Storm Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Dust_Storm_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Extreme Cold Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Extreme_Cold_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Extreme Cold Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Extreme_Cold_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Excessive Heat Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Excessive_Heat_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Excessive Heat Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Excessive_Heat_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Fire Weather Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Fire_Weather_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Flood Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Flood_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Flood Warning</ion-label><ion-checkbox disabled checked="true" [(ngModel)]="settings.Flood_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Flood Watch</ion-label><ion-checkbox disabled checked="true" [(ngModel)]="settings.Flood_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Freeze Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Freeze_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Freeze Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Freeze_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Freezing Fog Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Freezing_Fog_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Freezing Rain Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Freezing_Rain_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Freezing Spray Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Freezing_Spray_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Frost Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Frost_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Gale Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Gale_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Gale Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Gale_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hard Freeze Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Hard_Freeze_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hard Freeze Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Hard_Freeze_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hazardous Seas Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Hazardous_Seas_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hazardous Seas Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Hazardous_Seas_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Heat Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Heat_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Heavy Freezing Spray</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Heavy_Freezing_Spray" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Heavy Freezing Spray Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Heavy_Freezing_Spray_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Heavy Freezing Spray Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Heavy_Freezing_Spray_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>High Rip Current Risk</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.High_Rip_Current_Risk" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>High Surf Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.High_Surf_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>High Surf Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.High_Surf_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>High Wind Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.High_Wind_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>High Wind Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.High_Wind_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>High Wind Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.High_Wind_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hurricane Force Wind Warning</ion-label><ion-checkbox disabled checked="true" [(ngModel)]="settings.Hurricane_Force_Wind_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hurricane Force Wind Watch</ion-label><ion-checkbox disabled checked="true" [(ngModel)]="settings.Hurricane_Force_Wind_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hurricane Local Statement</ion-label><ion-checkbox disabled checked="true" [(ngModel)]="settings.Hurricane_Local_Statement" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Ice Storm Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Ice_Storm_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Lake Effect Snow Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Lake_Effect_Snow_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Lake Effect Snow Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Lake_Effect_Snow_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Lakeshore Flood Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Lakeshore_Flood_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Lakeshore Flood Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Lakeshore_Flood_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Lakeshore Flood Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Lakeshore_Flood_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Lake Wind Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Lake_Wind_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Low Water Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Low_Water_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Red Flag Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Red_Flag_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Rip Current - High Rip Current Risk</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Rip_Current_High_Rip_Current_Risk" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Small Craft Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Small_Craft_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Small Craft Advisory for Hazardous Seas</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Small_Craft_Advisory_for_Hazardous_Seas" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Storm Surge</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Storm_Surge" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Storm Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Storm_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Storm Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Storm_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Tsunami Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Tsunami_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Tsunami Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Tsunami_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Tsunami Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Tsunami_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Wind Chill Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Wind_Chill_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Wind Chill Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Wind_Chill_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Wind Chill Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Wind_Chill_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Winter Weather Advisory</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Winter_Weather_Advisory" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Winter Storm Warning</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Winter_Storm_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Winter Storm Watch</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.Winter_Storm_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item> -->

    <ion-item><ion-label>Flash Flood Watch</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Flash_Flood_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Flash Flood Warning</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Flash_Flood_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hurricane Watch</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Hurricane_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Hurricane Warning</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Hurricane_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Severe Thunderstorm Watch</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Severe_Thunderstorm_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Severe Thunderstorm Warning</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Severe_Thunderstorm_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Tornado Watch</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Tornado_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Tornado Warning</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Tornado_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Tropical Storm Watch</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Tropical_Storm_Watch" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>Tropical Storm Warning</ion-label><ion-checkbox checked="true" [(ngModel)]="settings.Tropical_Storm_Warning" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
    <ion-item><ion-label>All (overwrites above settings)</ion-label><ion-checkbox checked="false" [(ngModel)]="settings.all" (ionChange)="settingsChange()"></ion-checkbox></ion-item>
  </ion-list>
</ion-content>
