<ion-header>
  <ion-toolbar class="mema-navy">
    <ion-row class="align-items-center">
        <ion-col size="2">
            <ion-nav-link style="color: white;" [routerLink]="['/tabs/']">
                <ion-icon name="chevron-back-outline" size="large"></ion-icon>
            </ion-nav-link>
        </ion-col>
        <ion-col size="8">
            <ion-title style="padding: 0;font-size: 40px; font-weight: bolder; color: #fff;text-align: center;">
                <img src="assets/mema-seal.png" height="35"> MEMA
            </ion-title>
        </ion-col>
        <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class = "content-with-full-height "  padding>
  <ion-card-header class="headerText ">
      <h1>TYPES OF DISASTER</h1>
  </ion-card-header>


  <ion-grid>
    <div class="iconGrid"></div>
    <ion-row class="buttonText ion-align-items-center">
        <ion-col class="ion-text-center">
            
            <button [routerLink]="['./tornadoes']" class="btn iconButton" >
                <img src="../../assets/disasterPage/WhiteTornadoStd.png" height="60" alt="">
            </button>
            <p>TORNADOES</p>
        </ion-col>
        
        <ion-col class="ion-text-center">
            <button [routerLink]="['./hurricanes']" class="btn iconButton">
                <img src="../../assets/disasterPage/WhiteHurricaneStd.png" height="60" alt=""> 
            </button>
            <p>HURRICANES</p>
        </ion-col>
    </ion-row>
    
    <ion-row class="buttonText ion-align-items-center">
        <ion-col class="ion-text-center">
            <button [routerLink]="['./floods']" class="btn iconButton">       
                <img src="../../assets/disasterPage/WhiteFloodStd.png" height="60" alt="">
            </button>
            <p>FLOODS</p>
        </ion-col>
        
        <ion-col class="ion-text-center">
            <button [routerLink]="['./extremeHeat']" class="btn iconButton ">
                <img src="../../assets/disasterPage/WhiteThermometerWarningStd.png" height="60" alt=""> 
            </button>
            
            <p>EXTREME HEAT</p>
        </ion-col>
    </ion-row>

    <ion-row class="buttonText ion-align-items-center">
        <ion-col class="ion-text-center">
            <button [routerLink]="['./winterWeather']" class="btn iconButton"> 
               <img src="../../assets/disasterPage/WhiteSnowflakeStd.png" height="60" alt="">
            </button>
            <p>WINTER WEATHER</p>
        </ion-col>
        <ion-col class="ion-text-center">
            <button [routerLink]="['./earthquakes']" class="btn iconButton">
                <img src="../../assets/disasterPage/WhiteEarthquakeStd.png" height="60" alt="">
            </button>
            <p>EARTHQUAKES</p>
        </ion-col>
    </ion-row>

    <ion-row class="buttonText ion-align-items-center">
        <ion-col class="ion-text-center">
            <button [routerLink]="['./radiological']" class="btn iconButton"> 
               <img src="../../assets/disasterPage/WhiteRADStd.png" height="60" alt="">
            </button>
            <p>RADIOLOGICAL</p>
        </ion-col>
        <ion-col class="ion-text-center">
            <a href="https://msdh.ms.gov/msdhsite/_static/14,0,420.html">
                <button class="btn iconButton">
                    <img src="../../assets/disasterPage/WhiteVirus2Std.png" height="60" alt="">
                </button>
            </a>
            <p>COVID-19</p>
        </ion-col>
    </ion-row>
</ion-grid>








</ion-content>
