<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207312430895-399n91houabk6l6kk4q9onsaqlegu9v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207312430895-399n91houabk6l6kk4q9onsaqlegu9v1</string>
	<key>API_KEY</key>
	<string>AIzaSyBowUyjmPqgAfWk0HEr8QnEtvDVUllIcdA</string>
	<key>GCM_SENDER_ID</key>
	<string>207312430895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.MSEMA.application</string>
	<key>PROJECT_ID</key>
	<string>msema-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>msema-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207312430895:ios:bed2cd10ddef9d0a40a3da</string>
</dict>
</plist>